
services:
  postgres:
    image: postgres:15-alpine
    container_name: dbt_postgres
    environment:
      POSTGRES_USER: dbt_user
      POSTGRES_PASSWORD: dbt_password
      POSTGRES_DB: dbt_db
    ports:
      - "5433:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dbt_user -d dbt_db"]
      interval: 5s
      timeout: 5s
      retries: 5


  dbt:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    container_name: dbt_cli
    volumes:
      - .:/usr/app 
    command: tail -f /dev/null 
    depends_on:
      postgres:
        condition: service_healthy 

volumes:
  postgres_data: 